In [7]:
import pandas as pd

In [8]:
planets = pd.read_csv("./data/planets.csv")

In [9]:
planets.head(3)

            method  number  orbital_period  mass  distance  year
0  Radial Velocity       1         269.300  7.10     77.40  2006
1  Radial Velocity       1         874.774  2.21     56.95  2008
2  Radial Velocity       1         763.000  2.60     19.84  2011

In [10]:
planets.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [11]:
planets['number'][0]/planets['mass'][0]

0.14084507042253522

In [12]:
planets['number'][0].astype(float)

1.0

In [13]:
planets['mass'][0].astype(int)

7

In [14]:
planets['year'][0].astype(str)

'2006'

In [15]:
planets['year_dt'] = pd.to_datetime(planets['year'], format='%Y')
planets['year_dt']

0      2006-01-01
1      2008-01-01
2      2011-01-01
3      2007-01-01
4      2009-01-01
          ...
1030   2006-01-01
1031   2007-01-01
1032   2007-01-01
1033   2008-01-01
1034   2008-01-01
Name: year_dt, Length: 1035, dtype: datetime64[ns]