In [1]:
import pandas as pd

In [2]:
daterange = pd.period_range('1/1/2020', freq='30d', periods=4)

In [3]:
date_df = pd.DataFrame(data=daterange, columns=['sample date'])
date_df

  sample date
0  2020-01-01
1  2020-01-31
2  2020-03-01
3  2020-03-31

In [4]:
date_df['date difference'] = date_df['sample date'].diff(periods=1)
date_df

  sample date date difference
0  2020-01-01             NaT
1  2020-01-31     <30 * Days>
2  2020-03-01     <30 * Days>
3  2020-03-31     <30 * Days>

In [5]:
date_df['first of month'] = date_df['sample date'].values.astype('datetime64[M]')
date_df

  sample date date difference first of month
0  2020-01-01             NaT     2020-01-01
1  2020-01-31     <30 * Days>     2020-01-01
2  2020-03-01     <30 * Days>     2020-03-01
3  2020-03-31     <30 * Days>     2020-03-01

In [6]:
date_df.dtypes

sample date          period[30D]
date difference           object
first of month     datetime64[s]
dtype: object

In [7]:
date_df['sample date'] = date_df['sample date'].dt.to_timestamp()
date_df.dtypes

sample date        datetime64[ns]
date difference            object
first of month      datetime64[s]
dtype: object

In [8]:
date_df['sample date'] - date_df['first of month']

0    0 days
1   30 days
2    0 days
3   30 days
dtype: timedelta64[ns]

In [9]:
date_df['sample date'] - date_df['date difference']

/var/folders/j_/xpl_hql91gb5fthjhh998v600000gn/T/ipykernel_31193/608647980.py:1: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized.
  date_df['sample date'] - date_df['date difference']

0                    NaT
1    2020-01-01 00:00:00
2    2020-01-31 00:00:00
3    2020-03-01 00:00:00
dtype: object

In [10]:
date_df['sample date'] - pd.Timedelta('30 d')

0   2019-12-02
1   2020-01-01
2   2020-01-31
3   2020-03-01
Name: sample date, dtype: datetime64[ns]

In [11]:
date_df['sample date'].dt.day_name()

0    Wednesday
1       Friday
2       Sunday
3      Tuesday
Name: sample date, dtype: object