In [1]:
import pandas as pd

In [2]:
temps = pd.DataFrame({"sequence":[1,2,3,4,5],
                      "measurement_type":['actual', 'actual', 'actual', None, 'estimated'],
                      "temperature_f": [67.24, 84.56, 91.61, None, 49.64]
                      })
temps

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4             None            NaN
4         5        estimated          49.64

In [3]:
temps.isna()

   sequence  measurement_type  temperature_f
0     False             False          False
1     False             False          False
2     False             False          False
3     False              True           True
4     False             False          False

In [4]:
temps['temperature_f'].cumsum()

0     67.24
1    151.80
2    243.41
3       NaN
4    293.05
Name: temperature_f, dtype: float64

In [5]:
temps['temperature_f'].cumsum(skipna=False)

0     67.24
1    151.80
2    243.41
3       NaN
4       NaN
Name: temperature_f, dtype: float64

In [9]:
temps.groupby(by=['measurement_type'], dropna=False).max()

                  sequence  temperature_f
measurement_type
actual                   3          91.61
estimated                5          49.64
NaN                      4            NaN

In [7]:
temps.dropna()

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
4         5        estimated          49.64

In [8]:
temps.dropna(axis=1)

   sequence
0         1
1         2
2         3
3         4
4         5

In [10]:
temps.fillna(0)

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4                0           0.00
4         5        estimated          49.64

In [11]:
temps.fillna(method='pad')

/var/folders/j_/xpl_hql91gb5fthjhh998v600000gn/T/ipykernel_31274/3469445087.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  temps.fillna(method='pad')

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4           actual          91.61
4         5        estimated          49.64

In [12]:
temps.interpolate()

/var/folders/j_/xpl_hql91gb5fthjhh998v600000gn/T/ipykernel_31274/3271466085.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  temps.interpolate()

   sequence measurement_type  temperature_f
0         1           actual         67.240
1         2           actual         84.560
2         3           actual         91.610
3         4             None         70.625
4         5        estimated         49.640