In [17]:
import pandas as pd

In [18]:
names = pd.Series(['Pomeray, CODY ', 'Wagner; Jarry ', 'smith, Ray'])

In [19]:
names = names.str.replace(';', ',')
names

0    Pomeray, CODY
1    Wagner, Jarry
2        smith, Ray
dtype: object

In [20]:
names.str.len()

0    14
1    14
2    10
dtype: int64

In [21]:
names = names.str.strip()
names.str.len()

0    13
1    13
2    10
dtype: int64

In [22]:
names = names.str.lower()
names

0    pomeray, cody
1    wagner, jarry
2       smith, ray
dtype: object

In [23]:
names = names.str.split(', ')
names

0    [pomeray, cody]
1    [wagner, jarry]
2       [smith, ray]
dtype: object

In [24]:
names = pd.Series([i[::-1] for i in names])
names

0    [cody, pomeray]
1    [jarry, wagner]
2       [ray, smith]
dtype: object

In [25]:
names = [' '.join(i) for i in names]
names

['cody pomeray', 'jarry wagner', 'ray smith']